@import "tailwindcss";





.sText {
    position: absolute;
    /* bottom: 0%; */
    left: 10%;
    animation: textAni 3s 0s infinite ease-out;
}

.sText2 {
    position: absolute;
    /* bottom: 0%; */
    left: 10%;
    animation: textAni 3s -1.5s infinite ease-out;
}


@keyframes textAni {
    0% {
        transform: translateY(90px);
        bottom: 0% !important;
    }

    50% {
        transform: translateY(45px);
    }

    100% {
        transform: translateY(-25px);
        bottom: 130% !important;
    }
}

.slick-slide {
    padding: 8px;
}

/* the parent */
.slick-list {
    margin: 0 -15px;
}

.slick-list {
    height: auto !important;
}

.slick-arrow::before{
    font-size: 30px !important;
    z-index: 5;
    height: 50px;
    width: 50px;
    color:  black !important;
}
.slick-arrow{
    z-index: 2;

}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 0 !important;
}

.item  .mobile .search{
    display: none !important;
}
.item .mobile{
    padding: 5px 0px 5px 0px !important ;
}
.border .font-medium:nth-child(3){
    width: 90% !important;
}
.scroll::-webkit-scrollbar{
    display: none;
}
.slick-dots {
    position: static !important ;
    bottom:  -78px !important;
}
.desktop .slick-dots li{
    width: 100px !important;
    height:  100px !important;
}
.active{
    display: block !important;
}
header .offcanvas::-webkit-scrollbar{
    display: none;
}

.zoom{
    /* width: 50% !important; */
    position: fixed !important;
    top: 15% !important;
    left: 50% !important;
    z-index: 100 !important;
    
}